/*******************
Reset
********************/

*, *::before, *::after {
  box-sizing: border-box;
}

img { 
  max-width: 100%;
}

/*******************
Custom Properties
********************/

:root {
  --clr-vary-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);
  --ff-primary: 'Manrope', sans-serif;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
}

/*******************
General Styles
********************/

body {
  margin: 0 auto;
  padding: 0;
  font-family: var(--ff-primary);
  font-weight: var(--font-weight-normal);
  font-size: 0.8125rem;
  color: var(--clr-vary-dark-grayish-blue);
  min-width: 320px;
  max-width: 1440px;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #EDF1F8;
}

/*******************
Article Preview Component Styles
********************/

.article-preview-card {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  background-color: #FFFFFF;
  width: 80%;
  max-width: 400px;
  margin: 3em auto;
  box-shadow: 3px 13px 19px 0px rgba(50, 50, 50, 0.23);
}

.article-preview-card__image {
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  width: 100%;
}

.article-preview-card__content {
  padding: 1em;
}


.article-preview-card__header {
  margin-top: 0;
}

.article-preview-card__body {
}

.article-preview-card__author-social-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;

}

.article-preview-card__share-popup {
  display: none;
  padding: 1em;
  width: 100%;
  min-height: 4.875rem;
}

.article-preview-card__share-popup__share-text {
  text-transform: uppercase;
  color: var(--clr-light-grayish-blue);
  letter-spacing: 4px;
  padding-right: 1em;

}

.article-preview-card__social-icon {
}

.article-preview-card__share-icon {
  position: relative;
  height: 1.5em;
  width: 1.5em;
  margin-left: auto;
  margin-right: 1em;
}

@media (min-width: 400px) {
  .article-preview-card__content {
    padding: 2em;
  }

  .article-preview-card__author-social-wrapper {
    padding-left: 2em;
    padding-right: 2em;
  }

  .article-preview-card__social-icon {
    padding-right: 0.5em;
  }
}

@media (min-width: 768px) {
  .article-preview-card {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 800px;
  }

  .article-preview-card__image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1em;
  }
  
  .article-preview-card__content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .article-preview-card__author-social-wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }


}

/*******************
Article Author Card Styles
********************/

.article-author-card {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr auto;
}

.article-author-card__avatar {
  border-radius: 50%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 4em;
  margin-right: 1em;
}

.article-author-card__author {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-weight: var(--font-weight-bold);
  align-self: end;
}

.article-author-card__date {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: var(--desaturated-dark-blue);
}


/*******************
Article Author Card Show Share Links Styles
********************/
.article-preview-card__author-social-wrapper.show-share-links {
  background: var(--clr-vary-dark-grayish-blue);
}

.article-preview-card__author-social-wrapper.show-share-links .article-author-card{
  display: none;
}

.article-preview-card__author-social-wrapper.show-share-links .article-preview-card__share-popup  {
  display: flex;
  gap: 1em;
  align-items: center;
}

/*******************
Article Author Card Show Share Links Desktop Styles
********************/

@media (min-width: 768px) {
  .article-preview-card__author-social-wrapper.show-share-links {
    background: none;
  }

  .article-preview-card__author-social-wrapper.show-share-links .article-author-card{
    display: grid;
  }

  .article-preview-card__author-social-wrapper.show-share-links  .article-preview-card__share-popup{
    background: var(--clr-vary-dark-grayish-blue);
    position: absolute;
    width: max-content;
    height: 1em;
    justify-content: center;
    top: -5em;
    right: -3em;
    padding: 0.5em 1em;
    border-radius: 1em;
  }
}
